name: GKE Terraform CI/CD

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to GCP (OIDC)
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/881925804294/locations/global/workloadIdentityPools/github-pool/providers/github"
        service_account: "terraform-cicd@pooja31.iam.gserviceaccount.com"

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Configure Docker
      run: gcloud auth configure-docker --quiet

    - name: Build & Push Image
      run: |
        docker build -t gcr.io/pooja31/fastapi-gke:latest .
        docker push gcr.io/pooja31/fastapi-gke:latest

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -auto-approve
